/* (A) WRAPPER */
#pop-up-task, #pop-up-proj {
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}
#pop-up-task.open, #pop-up-proj.open {
    visibility: visible;
    opacity: 1;
}
  
  /* (B) BOX */
#pop-box-task, #pop-box-proj {
    position: relative;
    max-width: 400px;
    background: white;
    margin: 50vh auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    transform: translateY(-50%);
    border-radius: 5px;
}
#pop-box-task > *, #pop-box-proj > * {
    font-family: arial;
}
  
  /* (C) TITLE */
#pop-title-task, #pop-title-proj {
    padding: 10px;
    margin: 0;
    font-family: arial;
}
  
  /* (D) FORM */
.pop-labels {
    display: block;
}

.pop-inputs {
    display: block;
    width: 96.66%;
    height: 30px;
    margin-bottom: 10px;
    font-size: small;
}

.pop-radio-labels {
    display: inline;
    margin-right: 20px;
    font-size: medium;
}

.pop-radio-inputs {
    display: inline;
}


#submit-task, #submit-proj {
    font-size: medium;
}
  
  /* (E) CLOSE BUTTON */
#pop-close-task, #pop-close-proj {
    position: absolute;
    top: 0; right: 5px;
    padding: 5px;
    cursor: pointer;
}